{# This is hardcoded for a reason - no need to rework it, it's only visible on demo #}
<div class="" style="min-width: 350px; padding-top:20px; padding-left:10px; margin-top:30px; margin-bottom:40px;">
    <div class="">
        <div class="layers">
            <div class="contact-area" style="max-width: 340px;">
                <section style="margin-top: 10px; background-color: white; opacity: .5;" data-toggle-popover="true" data-content="                                                  <p style='display: flex;'>
                    <span style='font-weight: bold; '>
                        <span style='word-break: break-all;'>Product owner</span>
                    </span>
                </p>
                " class="round-wrapper contact-group-circle" data-original-title="" title="">
                    <div class="fontawesome-centered">
                        <i class="far fa-star fontawesome-holder" style="color: #ffd000;"></i>
                    </div>
                </section>
                <div class="contact contact-card-border contact-card-no-padding"
                     style="max-width: 430px; position: relative;">
                    <main>
                        <section>
                            <div class="content" style="padding-bottom: 20px; background-color: #3B2F3D;">
                                <img src="/assets/images/volmarg_avatar.jpg" alt="Profile Image"
                                     style="width: 60px; height: 60px;">
                                <aside style="padding-top:10px;">
                                    <h1 style="font-size:18px;">Volmarg Reiso</h1>
                                </aside>
                            </div>

                            <div class="title active" style="background-color: #000000;">
                                <p style="text-transform: none; font-size: 12px;">Project owner</p>
                            </div>
                        </section>

                    </main>

                    <nav class="active contact-cards-contacts-wrapper">


                        <a href="#">
                            <div class="icon" style="width: 35px; height: 35px;">
                                <img src="/upload/images/system/contactIcons/github.png" class="w-100">
                            </div>

                            <div class="content">
                                <h1>Github</h1>
                                <span>volmarg</span>
                            </div>
                        </a>


                        <a href="#">
                            <div class="icon" style="width: 35px; height: 35px;">
                                <img src="/upload/images/system/contactIcons/linkedin.png" class="w-100">
                            </div>

                            <div class="content">
                                <h1>Linkedin</h1>
                                <span>volmarg</span>
                            </div>
                        </a>


                        <a href="#">
                            <div class="icon" style="width: 35px; height: 35px;">
                                <img src="/upload/images/system/contactIcons/spotify.png" class="w-100">
                            </div>

                            <div class="content">
                                <h1>Spotify</h1>
                                <span>volmarg</span>
                            </div>
                        </a>


                        <a href="#">
                            <div class="icon" style="width: 35px; height: 35px;">
                                <img src="/upload/images/system/contactIcons/discord.png" class="w-100">
                            </div>

                            <div class="content">
                                <h1>Discord</h1>
                                <span>volmarg#4264</span>
                            </div>
                        </a>


                        <a href="#">
                            <div class="icon" style="width: 35px; height: 35px;">
                                <img src="/upload/images/system/contactIcons/instagram.png" class="w-100">
                            </div>

                            <div class="content">
                                <h1>Instagram</h1>
                                <span>volmarg_reiso</span>
                            </div>
                        </a>


                        <a href="#">
                            <div class="icon" style="width: 35px; height: 35px;">
                                <img src="/upload/images/system/contactIcons/mail.png" class="w-100">
                            </div>

                            <div class="content">
                                <h1>Email</h1>
                                <span>dwlodarczyk12@gmail.com</span>
                            </div>
                        </a>


                    </nav>
                </div>
            </div>

        </div>
    </div>
</div>
