<main class='main-content bgc-grey-100' id="MyIssuesPreview">
    <div id='mainContent'>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <div class="bgc-white bd bdrs-3 p-10 mB-20">

                        <h4 class="c-grey-900 mB-20 text-center">{{ 'dialogs.addIssue.header' | trans }}</h4>

                        <section class="p-20 add-record-form">
                            {{ form_start(issueForm, {'attr': {' data-entity': "MyIssue"}}) }}
                            {{ form_end(issueForm) }}
                        </section>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>