<p class="text-justify" data-highlight-prism-code="true" id="firstLoginInformationDialog">
    {% if isDemo() %}
        {{ 'guide.firstTimeLogin.demo.description' | trans | raw }}
    {% else %}
        {{ 'guide.firstTimeLogin.global.description' | trans | raw }}
    {% endif %}
</p>
