<p>
    <i>{{ 'dialogs.removeFiles.confirm' | trans }}</i>
</p>

<input type="submit" value="yeeee" class="btn-primary btn">
<div>
    <div data-removed-files-json="{{ removedFilesJson }}"></div> {# this stays#}
</div>