<p class="text-center">
    <i>{{ 'dialogs.removeFiles.confirm' | trans }}</i>
</p>

<input type="submit" value="{{ 'buttons.submit' | trans }}" class="btn-primary btn float-right">
<div>
    <div data-removed-files-json="{{ removedFilesJson }}"></div>
</div>