<section
        data-is-apex-chart="true"
        data-apex-chart-type="pie"
        data-apex-chart-labels="{{ chart_labels|json_encode }}"
        data-apex-chart-values="{{ chart_values|json_encode }}"
>

</section>