.mass-action {
  margin-top: 10px !important;
  background-color: #0062cc !important;
  opacity: .5 !important;

  .fontawesome-centered i, .fontawesome-centered svg {
    font-size: 25px !important;
    color: white !important;
  }
}

#filesModuleLockTable {
  .files-module-lock-table-head-cell-lock {
    width: 50px !important;
  }
}