#myVideoModuleMainWrapper {

  .my-video-module-masonry-not-main-dir {
    font-size: 19px;
  }

  .my-video-module-topbar-wrapper {
    margin-left: 20px;
  }

  .grid-item {
    position: relative;
    margin: 5px;
  }

  .issue-card-actions-center p {
    color: black;
  }

}