#registerPageWrapper {
  .register-form-header {
    color: #5DACBD;
    font-weight: 300;
  }

  .register-form-logo {
    height: 65px;
  }

  .register-form-wrapper {
    min-width: 320px;
    opacity: 0.9;
  }
}