<div>
    <table id="Achievements" class="table" cellspacing="0"
           data-table="false" width="100%">
        <tbody>
        {% for achievement in all_achievements  if  achievement.type == achievement_type %}
            <tr class="trash-parent achievement-single-data editable-parent save-parent {{ getClassForAchievementType(achievement.type) }} "
                style="outline: 5px white solid;" data-type="Achievements">
                {% for column in columns_names %}
                    <td class="{{ column }} {% if column != 'name' %}d-none{% endif %}" style="border:none;">
                        {{ attribute(achievement,column) }}
                    </td>
                {% endfor %}
                <td contenteditable="false" style="border:none;" class="d-none actions">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    <i class="far fa-edit"></i>
                    <i class="far fa-save d-none"></i>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
