{% if disabled is not defined %}
        {% set disabled = '' %}
{% else %}
        {% set disabled = 'disabled' %}
{% endif %}

<select
        class="form-control {{ disabled }} option-picker"
        style="max-width: 65px;"
>
    {% for finance_currency_dto in getFinancesCurrenciesDtos() %}

        {% if
                currency is defined
            and currency == finance_currency_dto.getName()
        %}
            {% set selected = "selected" %}
        {% else %}
            {% set selected = "" %}
        {% endif %}

        <option value="{{ finance_currency_dto.getName() }}" {{ selected }}>
            {{ finance_currency_dto.getSymbol() }}
        </option>
    {% endfor %}
</select>