{% if disabled is not defined %}
        {% set disabled = '' %}
{% else %}
        {% set disabled = 'disabled' %}
{% endif %}

{% set matchingCurrencyWasFound = false %}

<select
        class="form-control {{ disabled }} option-picker form-select-currency"
>

    {% for finance_currency_dto in getFinancesCurrenciesDtos() %}

        {% if
                currency is defined
            and currency == finance_currency_dto.getName()
        %}
            {% set selected = "selected" %}
            {% set matchingCurrencyWasFound = true %}
        {% else %}
            {% set selected = "" %}
        {% endif %}

        <option value="{{ finance_currency_dto.getName() }}" {{ selected }}>
            {{ finance_currency_dto.getSymbol() }}
        </option>
    {% endfor %}

    {% if not matchingCurrencyWasFound %}
        <option value="" selected></option>
    {% endif %}
</select>