<div class="checkbox checkbox-circle checkbox-info peers ai-c">
    <input type="checkbox" name="inputCheckboxesCall" class="peer {{ classes }}" {{ checked }}>
    <label class=" peers peer-greed js-sb ai-c">

            <span class="peer peer-greed">
                {{ label }}
            </span>

    </label>
</div>
