<div class="flex items-center relative password-preview-wrapper">

    <div class="input-group">
        <input type="password" class="form-control appended-input password-input" aria-describedby="basic-addon2"
               {% if
                        is_symfony_form is defined
                   and  is_symfony_form
               %}
                    {{ widget_attributes | raw }}
                {% endif %}
        >
        <div class="input-group-append">
            <span class="input-group-text input-group-appended-element" id="basic-addon2" data-toggle="password">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye">
                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                    <circle cx="12" cy="12" r="3"></circle>
                </svg>
            </span>
        </div>

        {% if
                includeGeneratePassword is defined
            and includeGeneratePassword
        %}
            <div class="input-group-append">
                <span class="input-group-text input-group-appended-element"
                      id="basic-addon2"
                      data-toggle="password"
                      data-generate-password-on-click
                      data-target-input-selector=".password-input"
                >
                    <i class="fas fa-key"></i>
                </span>
            </div>
        {% endif %}

    </div>

</div>