<div class="row removed-parent">
    <div class="col-md-10">
        {{ form(form) }}
    </div>
    <div class="col-md-2 d-flex">
        <button class="remove-parent btn btn-sm btn-primary align-self-center"
                data-removed-selector=".removed-parent"
                >✗</button>
    </div>
</div>