<li class="notifications dropdown">
    <span class="counter bgc-blue">3</span>
    <a href="" class="dropdown-toggle no-after" data-toggle="dropdown">
        <i class="ti-email"></i>
    </a>

    <ul class="dropdown-menu">
        <li class="pX-20 pY-15 bdB">
            <i class="ti-email pR-10"></i>
            <span class="fsz-sm fw-600 c-grey-900">Emails</span>
        </li>
        <li>
            <ul class="ovY-a pos-r scrollable lis-n p-0 m-0 fsz-sm">
                <li>
                    <a href="" class='peers fxw-nw td-n p-20 bdB c-grey-800 cH-blue bgcH-grey-100'>
                        <div class="peer mR-15">
                            <img class="w-3r bdrs-50p"
                                 src="https://randomuser.me/api/portraits/men/1.jpg" alt="">
                        </div>
                        <div class="peer peer-greed">
                            <div>
                                <div class="peers jc-sb fxw-nw mB-5">
                                    <div class="peer">
                                        <p class="fw-500 mB-0">John Doe</p>
                                    </div>
                                    <div class="peer">
                                        <small class="fsz-xs">5 mins ago</small>
                                    </div>
                                </div>
                                <span class="c-grey-600 fsz-sm">
                                Want to create your own customized data generator for your app...
                              </span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="" class='peers fxw-nw td-n p-20 bdB c-grey-800 cH-blue bgcH-grey-100'>
                        <div class="peer mR-15">
                            <img class="w-3r bdrs-50p"
                                 src="https://randomuser.me/api/portraits/men/2.jpg" alt="">
                        </div>
                        <div class="peer peer-greed">
                            <div>
                                <div class="peers jc-sb fxw-nw mB-5">
                                    <div class="peer">
                                        <p class="fw-500 mB-0">Moo Doe</p>
                                    </div>
                                    <div class="peer">
                                        <small class="fsz-xs">15 mins ago</small>
                                    </div>
                                </div>
                                <span class="c-grey-600 fsz-sm">
                                Want to create your own customized data generator for your app...
                              </span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="" class='peers fxw-nw td-n p-20 bdB c-grey-800 cH-blue bgcH-grey-100'>
                        <div class="peer mR-15">
                            <img class="w-3r bdrs-50p"
                                 src="https://randomuser.me/api/portraits/men/3.jpg" alt="">
                        </div>
                        <div class="peer peer-greed">
                            <div>
                                <div class="peers jc-sb fxw-nw mB-5">
                                    <div class="peer">
                                        <p class="fw-500 mB-0">Lee Doe</p>
                                    </div>
                                    <div class="peer">
                                        <small class="fsz-xs">25 mins ago</small>
                                    </div>
                                </div>
                                <span class="c-grey-600 fsz-sm">
                                Want to create your own customized data generator for your app...
                              </span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="pX-20 pY-15 ta-c bdT">
                    <span>
                      <a href="{{ path('admin_default', {'pageName': 'email'}) }}"
                         class="c-grey-600 cH-blue fsz-sm td-n">View All Email <i
                                  class="fs-xs ti-angle-right mL-10"></i></a>
                    </span>
        </li>
    </ul>
</li>