<li class="notifications dropdown">
    <span class="counter bgc-red">3</span>
    <a href="" class="dropdown-toggle no-after" data-toggle="dropdown">
        <i class="ti-bell"></i>
    </a>

    <ul class="dropdown-menu">
        <li class="pX-20 pY-15 bdB">
            <i class="ti-bell pR-10"></i>
            <span class="fsz-sm fw-600 c-grey-900">Notifications</span>
        </li>
        <li>
            <ul class="ovY-a pos-r scrollable lis-n p-0 m-0 fsz-sm">
                <li>
                    <a href="" class='peers fxw-nw td-n p-20 bdB c-grey-800 cH-blue bgcH-grey-100'>
                        <div class="peer mR-15">
                            <img class="w-3r bdrs-50p"
                                 src="https://randomuser.me/api/portraits/men/1.jpg" alt="">
                        </div>
                        <div class="peer peer-greed">
                            <span>
                              <span class="fw-500">John Doe</span>
                              <span class="c-grey-600">liked your <span class="text-dark">post</span>
                              </span>
                            </span>
                            <p class="m-0">
                                <small class="fsz-xs">5 mins ago</small>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="" class='peers fxw-nw td-n p-20 bdB c-grey-800 cH-blue bgcH-grey-100'>
                        <div class="peer mR-15">
                            <img class="w-3r bdrs-50p"
                                 src="https://randomuser.me/api/portraits/men/2.jpg" alt="">
                        </div>
                        <div class="peer peer-greed">
                            <span>
                              <span class="fw-500">Moo Doe</span>
                              <span class="c-grey-600">liked your <span class="text-dark">cover image</span>
                              </span>
                            </span>
                            <p class="m-0">
                                <small class="fsz-xs">7 mins ago</small>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="" class='peers fxw-nw td-n p-20 bdB c-grey-800 cH-blue bgcH-grey-100'>
                        <div class="peer mR-15">
                            <img class="w-3r bdrs-50p"
                                 src="https://randomuser.me/api/portraits/men/3.jpg" alt="">
                        </div>
                        <div class="peer peer-greed">
                            <span>
                              <span class="fw-500">Lee Doe</span>
                              <span class="c-grey-600">commented on your <span class="text-dark">video</span>
                              </span>
                            </span>
                            <p class="m-0">
                                <small class="fsz-xs">10 mins ago</small>
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="pX-20 pY-15 ta-c bdT">
                    <span>
                      <a href="" class="c-grey-600 cH-blue fsz-sm td-n">View All Notifications <i
                                  class="ti-angle-right fsz-xs mL-10"></i></a>
                    </span>
        </li>
    </ul>
</li>