<li class="search-box"
{% include 'page-elements/components/guide-popup.twig' with {
    popoverAlignment: "bottom",
    popoverContent  : 'guide.system.search.description' | trans
}%}
>
    <a class="search-toggle no-pdd-right" href="javascript:void(0);">
        <i class="search-icon ti-search pdd-right-10"></i>
        <i class="search-icon-close ti-close pdd-right-10"></i>
    </a>
</li>
<li class="search-input auto-width">
    <input class="form-control tags" type="text" data-value="" placeholder="{{ 'topbar.search.placeholder' | trans }}" id="search">
    <div id="searchResultListWrapper">
    </div>
</li>
