<li class="search-box">
    <a class="search-toggle no-pdd-right" href="javascript:void(0);">
        <i class="search-icon ti-search pdd-right-10"></i>
        <i class="search-icon-close ti-close pdd-right-10"></i>
    </a>
</li>
<li class="search-input">
    <input class="form-control" type="text" placeholder="Search...">
</li>