<li
{% include 'page-elements/components/guide-popup.twig' with {
    popoverAlignment: "bottom",
    popoverContent  : 'guide.system.hamburger.description' | trans
}%}
>
    <a id='sidebar-toggle' class="sidebar-toggle" href="javascript:void(0);">
        <i class="ti-menu"></i>
    </a>
</li>