{% if ajax_render == false %}
    {% set template= "base.html.twig" %}
{% else %}
    {% set template= "blank.html.twig" %}
{% endif %}

    {% extends template %}

    {% block body %}
        <!-- ### $App Screen Content ### -->
        <main class='main-content bgc-grey-100'>
            <div id='mainContent'>
                <div class="container-fluid">

                    {% include "modules/common/components/info-block.twig" with {
                        text_translation_string   : 'job.holidays.infoBlock.text.mainDescription',
                        header_translation_string : 'job.holidays.infoBlock.header'
                    } %}

                    <div class="row">
                        <div class="col-md-12">
                            <div class="bgc-white bd bdrs-3 p-10 mB-20">

                                 <div data-smart-tab="true">
                                    <ul class="nav">
                                       <li><a class="nav-link" href="#tab-1" id="tab-nav-1">
                                          {{ 'job.holidays.headers.tab.summary.label' | trans }}
                                       </a></li>
                                       <li><a class="nav-link" href="#tab-2" id="tab-nav-2">
                                           {{ 'job.holidays.headers.tab.spent.label' | trans }}
                                       </a></li>
                                    </ul>

                                    <div class="tab-content">
                                       <div id="tab-1" class="tab-pane" role="tabpanel">
                                           <div class="bgc-white bdrs-3 p-20 mB-20">
                                               {% include 'modules/my-job/components/holidays.summary.table.html.twig' %}
                                           </div>
                                       </div>
                                       <div id="tab-2" class="tab-pane" role="tabpanel">
                                           <div class="bgc-white bdrs-3 p-20 mB-20">
                                               {% include 'modules/my-job/components/holidays.table.html.twig' %}
                                           </div>
                                       </div>
                                    </div>
                                 </div>

                            </div>
                        </div>
                    </div>

                    {# Form #}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="bgc-white bd bdrs-3 p-20 mB-20 d-flex flex-column">
                                <h4 class="c-grey-900 mB-20 align-self-center">{{ 'job.holidays.headers.spend' | trans }}</h4>
                                <div class="col-md-6 align-self-center add-record-form">
                                    {{ form(job_holidays_form, {'attr':{' data-entity':"MyJobHolidays"}})}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    {% endblock body %}
