// Scrollbar
$scrollBackground: #FFFFFF;
$scrollForeground: #aaa;

*::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
  background-color: $scrollBackground !important;
}

*::-webkit-scrollbar-thumb {
  background: $scrollForeground !important;
}

// Fix for responsive - login page for example
@media screen and (max-width: 767px) {
  .d-n\@sm- {
    display: block !important;
  }
}

/* Small circles in tod. lists */

.checkbox.checkbox-circle label::before {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

/* Logo it sidebar (header tpl) */
.sidebar .logo img {
  width: 130px;
  margin: 0 auto;
  left: 0px;
  transition: linear 250ms;
}

@media screen and (min-width: 1440px) {
  .is-collapsed .sidebar .logo img {
    width: 130px;
    margin: 0 auto;
    left: -28px;
    position: absolute;
    transition: linear 250ms;
  }

  .is-collapsed .sidebar:hover .logo img {
    width: 130px;
    margin: 0 auto;
    left: 0px;
    position: relative;
    transition: linear 250ms;
  }
}

@media screen and (max-width: 1439px) and (min-width: 992px) {
  .sidebar .sidebar-inner .sidebar-logo a .logo {
    margin-left: -28px;
  }
}

/* Scaling */

.sidebar-menu > li > a {
  font-size: 13.5px;
}

.dropdown-menu {
  font-size: 0.9rem;
}

body {
  font-size: 13px;
}

.ui-widget {
  font-size: 1em;
}

.monthly-summary {
  font-size: 15px;
}

table td {
  font-size: 0.8rem;
}

h4 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.45rem;
}

.form-control {
  font-size: 0.8rem;
}

.fsz-sm {
  font-size: 0.77rem !important;
}

.navbar .dropdown-menu a {
  font-size: 0.8375rem;
}

.header, .header .header-container .nav-left > li > a,
.header .header-container,
.header .header-container .nav-right,
.header .header-container .nav-right .dropdown,
.header .header-container .nav-left > li > a, .header .header-container .nav-right > li > a {
  min-height: 55px;
  height: 55px;
}

/**
  Datatables
 */

.dataTables_wrapper {
  width: 100%;
}

.dataTable tbody tr td .checkbox label::before,
.dataTable tbody tr td .checkbox label::after {
  left: inherit !important;
}

/* Other */
.spaceless-hr {
  padding-bottom: 4px;
  padding-top: 4px;
  margin-bottom: 2px;
  margin-top: 2px;
}

.pointer, .hoverable-pointer:hover {
  cursor: pointer;
}

.cursor-default {
  cursor: default !important;
}

form legend {
  font-size: 13px;
}

.input-as-text {
  border: none;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  padding: 0 !important;
  width: auto;
  background: none;
}

.content-editable-text {
  font-size: 130%;
  cursor: initial;
}

.dropdown-menu.show {
  z-index: 3
}

// Module description block
.module-description-text-wrapper {
  max-width: 1000px;
}

.w-90 {
  width: 90%;
}

.notifications-bell-list {
  height: 415px;
}

.scroll-y {
  overflow-y: scroll;
}

.modal-body .main-content {
  height: auto;
  min-height: auto;
  padding-top: 35px;
}

.text-dark-orange {
  color: darkorange;
}

.auto-width {
  width: auto;
}

.margin-top-10-px {
  margin-top: 10px;
}

.list-style-type-none {
  list-style-type: none;
}

.cursor-text {
  cursor: text;
}

.border-none {
  border: none;
}

// the class from bootstrap is not working this - overwriting
.overflow-hidden {
  overflow: hidden !important;
}