/**
  Fix for centering masonry gallery
*/
.lightgallery .grid {
  margin: 0 auto;
}

.lightgallery .grid-item a img {
  padding: 2px;
}

.lg #lightgallery_pencil_button:hover,
.lg #lightgallery_transfer_button:hover,
.lg #lightgallery_trash_button:hover,
.lg #lightgallery_manage_tags_button:hover,
.lg #lightgallery_save_button:hover {
  transition: 200ms;
  color: white;
}

/* Text under image */
#aniimated-thumbnials .caption-wrapper {
  display: inline-block;
  height: 200px;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}

#aniimated-thumbnials img {
  margin-bottom: 38px;
}

#aniimated-thumbnials .caption-text-holder {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 40px;
  width: 100%;
  text-align: center;
}

#lightGalleryMainWrapper {
  .light-gallery-all-images {
    margin-left: 20px;
  }

  .light-gallery-single-item {
    position: relative;
    margin: 5px;
  }

  .light-gallery-single-item-checkbox-wrapper {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 999999999;
  }

  .light-gallery-image {
    height: 200px;
  }
}

.error-page-header {
  font-size: 60px;
}