/* Folder based menu */

/* Fix for overlapping folders */
.folder-based-menu li{
  padding-bottom: 5px;
}

/* Blue dot on active element in menu */

.folder-based-menu-element .sidebar-link.active::before {
  top: 7px !important;
}

/* Make gray background for list element on hover */
.hoverable-list-gray li:hover {
  background-color: #f9fafb;
}

/* Nav elements in left menu */
.left-nav-link{
  height: 35px;
}

.left-nav-li-element:not(.open){
  height: 28px;
}