.search-input {
  width: 250px;
}

.search-input .selectize-input {
  box-shadow: none;
  border: none;
}

/* List with found files */
#searchResultListWrapper{
  transition: linear 300ms;
  max-height: 0;
  width: 250px;
}

#searchResultListWrapper ul {
  max-height: 0 !important;
  overflow: hidden;
  transition: linear 100ms;

  background-color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;

  width: 242px;
}

#searchResultListWrapper li {
  padding: 7px !important;
}

/* Links to directories */

#searchResultListWrapper li a {
  text-decoration: none;
  color: gray;
}

/* list animation slide up/down */
.selectize-control:focus + #searchResultListWrapper ul, .selectize-control:hover + #searchResultListWrapper ul, #searchResultListWrapper ul:hover {
  height: auto !important;
  max-height: 500px !important;
  transition: linear 500ms;
}

.search-input:hover > #searchResultListWrapper {
  display: block;
}

#searchResultListWrapper ul {
  max-height: 0 !important;
  transition: linear 500ms;
}

#searchResultListWrapper ul li:hover {
  background-color: rgba(0, 0, 0, 0.04);
  font-size: 14px;
}

/* Download button */

#searchResultListWrapper ul form {
  float: right;
}

#searchResultListWrapper ul form button.file-download {
  background: none;
  border: none;
  padding: 0 0 0 10px;
}


#searchResultListWrapper .fa-download:hover {
  cursor: pointer;
}

/* Module icon */
#searchResultListWrapper ul li .search-result-module-icon {
  padding-right: 5px;
}

/* File name */
#searchResultListWrapper ul li .search-result-file-name {
  padding-right: 5px;
}

/* Fix the small bar below search */
.search-input:hover #searchResultListWrapper, #searchResultListWrapper:hover, {
  max-height: 250px;
  transition: linear 300ms;
}