{% if ajax_render == false %}
    {% set template= "base.html.twig" %}
{% else %}
    {% set template= "blank.html.twig" %}
{% endif %}

{% extends template %}

{% block body %}
    <main class='main-content bgc-grey-100'>
        <div id='mainContent'>
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-12">
                        <div class="bgc-white bd bdrs-3 p-10 mB-20" style="min-height: 160px;">
                            <h4 class="c-grey-900 mB-20 text-center">{{ category | capitalize }}</h4>

                            <section class="all-notes">
                                {% for note in notes %}
                                    <section class="single-note-details">
                                        <button type="button" class="btn btn-primary note-button" data-toggle="modal"
                                                data-target="#note{{ note.id }}">
                                            {{ note.title }}
                                        </button>

                                        {% include 'modules/my-notes/components/note-edit-modal.html.twig' %}
                                    </section>
                                {% endfor %}
                            </section>

                        </div>
                    </div>
                </div>
            </div>

            <div class="widgets-wrapper">
                <script src="/assets_/static-scripts/modules/my-notes-category.js"></script>
                {% include 'page-elements/components/widgets/plus-icon.twig' with {
                    'widgetName': "add-note",
                    'settings':{
                        "type": 'template',
                        "url": '/dialog/body/create-note/' ~ getAttrs.category ~ '/' ~ getAttrs.category_id,
                        'callFunctions': '
                            tinymce.remove(".tiny-mce");
                            tinymce.custom.init();
                            ui.crud.attachRecordAddViaAjaxOnSubmit(true);
                            myNotesCategory.selectCurrentCategoryOptionForQuickNoteCreator();
                        ',
                        'subtype':'add-note'
                    }
                } %}
            </div>

        </div>
    </main>
{% endblock body %}
