{% if ajax_render == false %}
    {% set template= "base.html.twig" %}
{% else %}
    {% set template= "blank.html.twig" %}
{% endif %}

    {% extends template %}

{% block body %}

    <main class='main-content bgc-grey-100'>

        {% if not is_main_dir %}
            <div class="masonry-item col-md-12 mB-10" style="font-size: 19px;">
                <div class="bgc-white p-10 bd">
                    <span>
                        {% include 'page-elements/components/widgets/remove-folder.twig' with {
                            'folder_path'           : subdirectory_path,
                            'upload_module_dir'     : upload_module_dir,
                            'files_count_in_tree'   : files_count_in_tree
                        } %}
                    </span>
                </div>
            </div>
        {% endif %}

        <div id='mainContent'>

            {% include 'core/galleries/lightgallery.html.twig' with {'images': all_images} %}

            <div class="widgets-wrapper">
                <script src="/assets_/static-scripts/upload-widget.js"></script>
                {% include 'page-elements/components/widgets/plus-icon.twig' with {
                    'widgetName': "upload-files-widget",
                    'settings':{
                        "type": 'template',
                        "url": path('dialog_body_upload'),
                        'callFunctions': '
                            ui.upload.init();
                            ui.forms.init();
                            uploadWidget.selectCurrentModuleAndUploadDirOptionForQuickUpload();

                            let mainContentInModal   = document.querySelector(".bootbox-body main.main-content");
                            mainContentInModal.style = "min-height:auto; padding: 10px;";
                        ',
                        'subtype':'quickFolderCreation'
                    }
                } %}

                <script src="/assets_/static-scripts/new-folder-widget.js"></script>
                {% include 'page-elements/components/widgets/new-folder-icon.twig' with {
                    'widgetName': "new-folder-widget",
                    'settings':{
                        "type": 'template',
                        "url": path('dialog_body_create_folder'),
                        'callFunctions': '
                            ui.crud.attachRecordAddViaAjaxOnSubmit(false); // dont reload mainBody
                            ui.upload.init();
                            ui.forms.init();
                            createFolderWidget.selectCurrentModuleAndUploadDirOptionForQuickCreateFolder();

                            let mainContentInModal   = document.querySelector(".bootbox-body main.main-content");
                            mainContentInModal.style = "min-height:auto; padding: 10px;";
                        ',
                        'subtype':'form',
                        "data": {
                            "moduleName": constant(modules_controller~'MODULE_NAME_IMAGES')
                        }
                    },
                    'style': "margin-top: 10px; background-color: #0062cc; opacity: .5;"
                } %}

                <script src=""></script>
                {% include 'page-elements/components/widgets/trash-remove-icon.twig' with {
                    'widgetName': "mass-action-lightgallery-remove-images",
                    'style'     : "margin-top: 10px; background-color: #0062cc; opacity: .5;",
                    "classes"   : "disabled mass-action-lightgallery-remove-images mass-action-lightgallery-button"
                } %}

                <script src=""></script>
                {% include 'page-elements/components/widgets/data-transfer-icon.twig' with {
                    'widgetName': "mass-action-lightgallery-transfer-images",
                    'style'     : "margin-top: 10px; background-color: #0062cc; opacity: .5;",
                    "classes"   : "disabled mass-action-lightgallery-transfer-images mass-action-lightgallery-button"
                } %}

            </div>

        </div>
    </main>
{% endblock body %}
