{% if ajax_render == false %}
    {% set template= "base.html.twig" %}
{% else %}
    {% set template= "blank.html.twig" %}
{% endif %}

    {% extends template %}

{% block body %}

    <main class='main-content bgc-grey-100'>
        <div id='mainContent'>

            {% include 'core/galleries/lightgallery.html.twig' with {'images': all_images} %}

        </div>
    </main>
{% endblock body %}
