{% if ajax_render == false %}
    {% set template= "base.html.twig" %}
{% else %}
    {% set template= "blank.html.twig" %}
{% endif %}

    {% extends template %}

{% block body %}
    <main class='main-content bgc-grey-100'>

        <div id='mainContent'>
            <div class="container-fluid">

                {% include "modules/common/components/info-block.twig" with {
                    text_translation_string   : 'images.settings.infoBlock.text.mainDescription',
                    header_translation_string : 'images.settings.infoBlock.header'
                } %}

                {# DataTable#}

                <div class="row">
                    <div class="col-md-12">
                        <div class="bgc-white bd bdrs-3 p-20 mB-20 d-flex flex-column">
                            <div class="my-images-all-images d-flex justify-content-around flex-wrap">

                                {% include 'modules/common/components/files-modules/settings/lock-tables.twig' with {
                                    'moduleType'  : 'images',
                                    'lock_target' : constant('App\\Controller\\Modules\\ModulesController::MODULE_NAME_IMAGES')
                                } %}

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </main>

{% endblock body %}
