{% extends "base.html.twig" %}

{% block body %}
    {% set curr_date        =  "now"|date("m/d/Y") %}

    <main class='main-content bgc-grey-100'>
        <div id='mainContent'>
            <div class="row gap-10 masonry pos-r"></div>
            <div class="masonry-sizer col-md-12"></div>

            <div class="masonry-item col-md-12 payments-container">
                <div class="bgc-white p-20 bd d-flex justify-content-around payments-wrapper"
                     style="flex-wrap:wrap">

                    {% for payment in all_payments %}

                        {% set payment_duration             = date(date(payment.collectionStartDate)).diff(date(payment.deadline)).days %}
                        {% set payment_days_left            = date(curr_date).diff(date(payment.deadline)).days %}

                        {% if date(curr_date) <  date(payment.collectionStartDate) %}
                            {% set payment_start_in = date(date(payment.collectionStartDate)).diff(date(curr_date)) %}
                        {% endif %}

                        {% set payment_days_passed          =  payment_duration - payment_days_left %}

                        {% if payment_start_in is defined %}
                            {% set payment_percentage_days_left = 0 %}
                        {% else %}
                            {% set payment_percentage_days_left = (payment_days_passed / payment_duration ) * 100 %}
                        {% endif %}

                        {% include 'modules/my-goals/components/one-payment.html.twig' with {'col_size' : 3 } %}

                    {% endfor %}

                </div>
            </div>
        </div>
    </main>
{% endblock body %}
