{% if ajax_render == false %}
    {% set template= "base.html.twig" %}
{% else %}
    {% set template= "blank.html.twig" %}
{% endif %}

    {% extends template %}

{% block body %}
    {% set curr_date =  date() %}

    <main class='main-content bgc-grey-100'>
        <div id='mainContent'>
            <div class="row gap-10 masonry pos-r"></div>
            <div class="masonry-sizer col-md-12"></div>

            <div class="masonry-item col-md-12 payments-container">

                {% include "modules/common/components/info-block.twig" with {
                    text_translation_string   : 'goals.payments.infoBlock.text.mainDescription',
                    header_translation_string : 'goals.payments.infoBlock.header'
                } %}

                <div class="bgc-white p-20 bd d-flex justify-content-around payments-wrapper flex-wrap">

                    {% for payment in all_payments %}
                        {% include 'modules/my-goals/calculations/one-payment.html.twig' with {
                            'template': 'modules/my-goals/components/one-payment.html.twig',
                            'col_size': 3
                        }%}
                    {% endfor %}

                </div>
            </div>
        </div>
    </main>
{% endblock body %}
