{% if ajax_render == false %}
    {% set template= "base.html.twig" %}
{% else %}
    {% set template= "blank.html.twig" %}
{% endif %}

    {% extends template %}

{% block body %}
    <!-- ### $App Screen Content ### -->
    <main class='main-content bgc-grey-100'>
        <div id='mainContent'>
            <div class="container-fluid">
                {# Forms #}
                <div class="row">
                    <div class="col-md-12">
                        <div class="bgc-white bd bdrs-3 p-20 mB-20 d-flex flex-column">

                            <h5 class="c-grey-900 mB-20 align-self-center">{{ 'goals.settings.headers.addPaymentGoal' | trans }}</h5>

                            {% include('modules/my-goals/components/goals-payments.table.html.twig') %}

                            <div class="col-md-6 align-self-center add-record-form">
                                {{ form_start(goals_payments_form,{'attr':{'data-entity':"MyGoalsPayments"}}) }}
                                {{ form_end(goals_payments_form) }}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock body %}
