{% set files_handler_service            = 'App\\Services\\Files\\FilesHandler' %}
{% set KEY_CURRENT_UPLOAD_MODULE_DIR    = constant(files_handler_service~"::KEY_CURRENT_UPLOAD_MODULE_DIR") %}
{% set KEY_TARGET_MODULE_UPLOAD_DIR     = constant(files_handler_service~"::KEY_TARGET_MODULE_UPLOAD_DIR") %}
{% set KEY_CURRENT_SUBDIRECTORY_NAME    = constant(files_handler_service~"::KEY_CURRENT_SUBDIRECTORY_NAME") %}
{% set KEY_TARGET_SUBDIRECTORY_NAME     = constant(files_handler_service~"::KEY_TARGET_SUBDIRECTORY_NAME") %}

{% set file_upload_controller           = 'App\\Controller\\Files\\FileUploadController' %}
{% set KEY_SUBDIRECTORY_CURRENT_PATH_IN_MODULE_UPLOAD_DIR    = constant(file_upload_controller~"::KEY_SUBDIRECTORY_CURRENT_PATH_IN_MODULE_UPLOAD_DIR") %}
{% set KEY_SUBDIRECTORY_TARGET_PATH_IN_MODULE_UPLOAD_DIR     = constant(file_upload_controller~"::KEY_SUBDIRECTORY_TARGET_PATH_IN_MODULE_UPLOAD_DIR") %}
{% set KEY_UPLOAD_MODULE_DIR                                 = constant(file_upload_controller~"::KEY_UPLOAD_MODULE_DIR") %}
{% set KEY_SUBDIRECTORY_NEW_NAME                             = constant(file_upload_controller~"::KEY_SUBDIRECTORY_NEW_NAME") %}
{% set KEY_SUBDIRECTORY_NAME                                 = constant(file_upload_controller~"::KEY_SUBDIRECTORY_NAME") %}

{% set FIELD_REMOVE_CURRENT_FOLDER      = constant("App\\Form\\Files\\UploadSubdirectoryCopyDataType::FIELD_REMOVE_CURRENT_FOLDER") %}
{% set KEY_MOVE_FOLDER                  = constant("App\\Form\\Files\\UploadSubdirectoryCopyDataType::KEY_MOVE_FOLDER") %}

{% if ajax_render == false %}
    {% set template= "base.html.twig" %}
{% else %}
    {% set template= "blank.html.twig" %}
{% endif %}

    {% extends template %}

{% block body %}
    <!-- ### $App Screen Content ### -->
    <main class='main-content bgc-grey-100'>
        <div id='mainContent'>
            <div class="container-fluid">

                {% include "modules/common/components/info-block.twig" with {
                    text_translation_string   : 'upload.settings.infoBlock.text.mainDescription',
                    header_translation_string : 'upload.settings.infoBlock.header'
                } %}

                {# DataTable #}

                <div class="row">
                    <div class="col-md-12">

                        <div class="row">
                            {# rename form #}
                            {% include 'modules/common/components/rename-form.twig' %}

                            {# create folder form #}
                            {% include 'modules/common/components/create-folder-form.twig' %}
                        </div>

                        <div class="row">
                            {# copy files between folders form #}
                            {% include 'modules/common/components/copy-data-form.twig' %}
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </main>

{% endblock body %}
