<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="note{{ note.id }}" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-id="{{ note.id }}">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            {% include "modules/my-notes/components/note-edit-modal-body.html.twig" %}
        </div>
    </div>
</div>