{% if ajax_render == false %}
    {% set template= "base.html.twig" %}
{% else %}
    {% set template= "blank.html.twig" %}
{% endif %}

    {% extends template %}

 {% block body %}

     {% set settings_dashboard_controller = 'App\\Controller\\Page\\SettingsDashboardController::' %}
     {% set ALL_DASHBOARD_WIDGETS_NAMES   = constant( settings_dashboard_controller ~ 'ALL_DASHBOARD_WIDGETS_NAMES') %}



     <!-- ### $App Screen Content ### -->
     <main class='main-content bgc-grey-100'>
         <div id='mainContent'>
             <div class="row gap-20 masonry pos-r">
                 {% if dashboard_widgets_visibility_dtos is defined and dashboard_widgets_visibility_dtos is not null %}
                     {% for widget_visibility_dto in dashboard_widgets_visibility_dtos %}

                         {% if widget_visibility_dto.isVisible() %}
                             {% include ('modules/my-dashboard/widgets/' ~ widget_visibility_dto.getName() ~ '.html.twig' ) with {'widget_name': widget_visibility_dto.getName()} %}
                         {% endif %}

                     {% endfor %}

                      {# load all if settings are not present #}
                 {% else %}
                     {% for widget_name in ALL_DASHBOARD_WIDGETS_NAMES %}
                             {% include ('modules/my-dashboard/widgets/' ~ widget_name ~ '.html.twig') with {'widget_name': widget_name} %}
                     {% endfor %}
                 {% endif %}

             </div>
         </div>
     </main>
 {% endblock body %}
