<div>

    <table id="MyPaymentsReportsMonthlyPaymentsSummaries" class="table table-hover" cellspacing="0" width="100%" data-table="true">
        <thead>
        <tr>
            <td>{{ 'reports.monthlyPaymentsSummaries.table.monthAndYear' | trans }}</td>
            <td>{{ 'reports.monthlyPaymentsSummaries.table.money' | trans }}</td>
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
            <tr data-type="MyPaymentsReportsMonthlyPaymentsSummaries">
                <td> {{ row['yearAndMonth'] }} </td>
                <td> {{ row['money'] }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>