<div class="sidebar-logo" id="sidebarHeaderWrapper">
    <div class="peers ai-c fxw-nw">
        <div class="peer peer-greed">
            <a class="sidebar-link td-n ajax-content-load" href="{{ path('dashboard') }}">
                <div class="peers ai-c fxw-nw d-flex justify-content-around">
                    <div class="peer">
                        <div class="mb-1 mt-2">
                            {% include "page-elements/components/logo.twig" with {
                                size: 49
                            } %}
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="peer">
            <div class="mobile-toggle sidebar-toggle">
                <a href="" class="td-n">
                    <i class="ti-arrow-circle-left"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<hr class="mT-3 mB-3"/>