<div class="sidebar-logo">
    <div class="peers ai-c fxw-nw">
        <div class="peer peer-greed">
            <a class="sidebar-link td-n ajax-content-load" href="{{ path('dashboard') }}">
                <div class="peers ai-c fxw-nw" style="display: flex !important; justify-content: space-around;">
                    <div class="peer">
                        <div class="logo" style="width:130px;">
                            <img src="{{ asset('assets/images/logo/smaller.png') }}" alt="logo"/>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="peer">
            <div class="mobile-toggle sidebar-toggle">
                <a href="" class="td-n">
                    <i class="ti-arrow-circle-left"></i>
                </a>
            </div>
        </div>
    </div>
</div>
