<ul class="sidebar-menu scrollable pos-r">
    <li class="nav-item mT-10 active"
    {% include 'page-elements/components/guide-popup.twig' with {
        popoverAlignment: "right",
        popoverContent  : 'guide.modules.dashboard.description' | trans
    }%}
    >
        <a class="sidebar-link" href="{{ path('dashboard') }}">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-home"></i>
                </span>
            <span class="title">{{ 'sidebar.menu.dashboard.label' | trans }}</span>
        </a>
    </li>

    <hr class="mT-3 mB-3"/>

    {% include 'page-elements/components/sidebar/menu-nodes/goals.twig'        %}
    {% include 'page-elements/components/sidebar/menu-nodes/todo.twig'         %}
    {% include 'page-elements/components/sidebar/menu-nodes/notes.twig'        %}
    {% include 'page-elements/components/sidebar/menu-nodes/my-contacts.twig'  %}
    {% include 'page-elements/components/sidebar/menu-nodes/my-passwords.twig' %}
    {% include 'page-elements/components/sidebar/menu-nodes/achievements.twig' %}
    {% include 'page-elements/components/sidebar/menu-nodes/my-schedules.twig' %}
    {% include 'page-elements/components/sidebar/menu-nodes/my-issues.twig'    %}
    {% include 'page-elements/components/sidebar/menu-nodes/my-travels.twig'   %}
    {% include 'page-elements/components/sidebar/menu-nodes/my-payments.twig'  %}
    {% include 'page-elements/components/sidebar/menu-nodes/my-shopping.twig'  %}
    {% include 'page-elements/components/sidebar/menu-nodes/my-job.twig'       %}
    {% include 'page-elements/components/sidebar/menu-nodes/my-reports.twig'   %}

    <hr class="mT-3 mB-3"/>
    {% include 'page-elements/components/sidebar/menu-nodes/my-files.twig'  %}
    {% include 'page-elements/components/sidebar/menu-nodes/my-images.twig' %}
    {% include 'page-elements/components/sidebar/menu-nodes/my-video.twig'  %}
    {% include 'page-elements/components/sidebar/menu-nodes/upload.twig'    %}

</ul>