{% set app_action = 'App\\Action\\System\\AppAction::' %}

{# Menu node module name #}
{% set MENU_NODE_MODULE_NAME_ACHIEVEMENTS      = constant(app_action~"MENU_NODE_MODULE_NAME_ACHIEVEMENTS") %}
{% set MENU_NODE_MODULE_NAME_GOALS             = constant(app_action~"MENU_NODE_MODULE_NAME_GOALS") %}
{% set MENU_NODE_MODULE_NAME_TODO              = constant(app_action~"MENU_NODE_MODULE_NAME_TODO") %}
{% set MENU_NODE_MODULE_NAME_MY_CONTACTS       = constant(app_action~"MENU_NODE_MODULE_NAME_MY_CONTACTS") %}
{% set MENU_NODE_MODULE_NAME_MY_SCHEDULES      = constant(app_action~"MENU_NODE_MODULE_NAME_MY_SCHEDULES") %}
{% set MENU_NODE_MODULE_NAME_MY_FILES          = constant(app_action~"MENU_NODE_MODULE_NAME_MY_FILES") %}
{% set MENU_NODE_MODULE_NAME_MY_IMAGES         = constant(app_action~"MENU_NODE_MODULE_NAME_MY_IMAGES") %}
{% set MENU_NODE_MODULE_NAME_MY_JOB            = constant(app_action~"MENU_NODE_MODULE_NAME_MY_JOB") %}
{% set MENU_NODE_MODULE_NAME_MY_PASSWORDS      = constant(app_action~"MENU_NODE_MODULE_NAME_MY_PASSWORDS") %}
{% set MENU_NODE_MODULE_NAME_MY_PAYMENTS       = constant(app_action~"MENU_NODE_MODULE_NAME_MY_PAYMENTS") %}
{% set MENU_NODE_MODULE_NAME_MY_SHOPPING       = constant(app_action~"MENU_NODE_MODULE_NAME_MY_SHOPPING") %}
{% set MENU_NODE_MODULE_NAME_MY_TRAVELS        = constant(app_action~"MENU_NODE_MODULE_NAME_MY_TRAVELS") %}
{% set MENU_NODE_MODULE_NAME_NOTES             = constant(app_action~"MENU_NODE_MODULE_NAME_NOTES") %}
{% set MENU_NODE_MODULE_NAME_REPORTS           = constant(app_action~"MENU_NODE_MODULE_NAME_REPORTS") %}
{% set MENU_NODE_MODULE_NAME_MY_ISSUES         = constant(app_action~"MENU_NODE_MODULE_NAME_MY_ISSUES") %}
{% set MENU_NODE_MODULE_NAME_MY_VIDEO          = constant(app_action~"MENU_NODE_MODULE_NAME_MY_VIDEO") %}

<ul class="sidebar-menu scrollable pos-r">
    <li class="nav-item mT-10 active"
    {% include 'page-elements/components/guide-popup.twig' with {
        popoverAlignment: "right",
        popoverContent  : 'guide.modules.dashboard.description' | trans
    }%}
    >
        <a class="sidebar-link" href="{{ path('dashboard') }}">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-home"></i>
                </span>
            <span class="title">{{ 'sidebar.menu.dashboard.label' | trans }}</span>
        </a>
    </li>

    <hr class="mT-3 mB-3"/>

    {% include 'page-elements/components/sidebar/menu-nodes/goals.twig'         with { menu_node_module_name: MENU_NODE_MODULE_NAME_GOALS        } %}
    {% include 'page-elements/components/sidebar/menu-nodes/todo.twig'          with { menu_node_module_name: MENU_NODE_MODULE_NAME_TODO         } %}
    {% include 'page-elements/components/sidebar/menu-nodes/notes.twig'         with { menu_node_module_name: MENU_NODE_MODULE_NAME_NOTES        } %}
    {% include 'page-elements/components/sidebar/menu-nodes/my-contacts.twig'   with { menu_node_module_name: MENU_NODE_MODULE_NAME_MY_CONTACTS  } %}
    {% include 'page-elements/components/sidebar/menu-nodes/my-passwords.twig'  with { menu_node_module_name: MENU_NODE_MODULE_NAME_MY_PASSWORDS } %}
    {% include 'page-elements/components/sidebar/menu-nodes/achievements.twig'  with { menu_node_module_name: MENU_NODE_MODULE_NAME_ACHIEVEMENTS } %}
    {% include 'page-elements/components/sidebar/menu-nodes/my-schedules.twig'  with { menu_node_module_name: MENU_NODE_MODULE_NAME_MY_SCHEDULES } %}
    {% include 'page-elements/components/sidebar/menu-nodes/my-issues.twig'     with { menu_node_module_name: MENU_NODE_MODULE_NAME_MY_ISSUES    } %}
    {% include 'page-elements/components/sidebar/menu-nodes/my-travels.twig'    with { menu_node_module_name: MENU_NODE_MODULE_NAME_MY_TRAVELS   } %}
    {% include 'page-elements/components/sidebar/menu-nodes/my-payments.twig'   with { menu_node_module_name: MENU_NODE_MODULE_NAME_MY_PAYMENTS  } %}
    {% include 'page-elements/components/sidebar/menu-nodes/my-shopping.twig'   with { menu_node_module_name: MENU_NODE_MODULE_NAME_MY_SHOPPING  } %}
    {% include 'page-elements/components/sidebar/menu-nodes/my-job.twig'        with { menu_node_module_name: MENU_NODE_MODULE_NAME_MY_JOB       } %}
    {% include 'page-elements/components/sidebar/menu-nodes/my-reports.twig'    with { menu_node_module_name: MENU_NODE_MODULE_NAME_REPORTS      } %}

    <hr class="mT-3 mB-3"/>
    {% include 'page-elements/components/sidebar/menu-nodes/my-files.twig'  with { menu_node_module_name: MENU_NODE_MODULE_NAME_MY_FILES }  %}
    {% include 'page-elements/components/sidebar/menu-nodes/my-images.twig' with { menu_node_module_name: MENU_NODE_MODULE_NAME_MY_IMAGES } %}
    {% include 'page-elements/components/sidebar/menu-nodes/my-video.twig'  with { menu_node_module_name: MENU_NODE_MODULE_NAME_MY_VIDEO }  %}
    {% include 'page-elements/components/sidebar/menu-nodes/upload.twig'    with { menu_node_module_name: MENU_NODE_MODULE_NAME_GOALS } %}

</ul>