<table id="uploadTable" class="table table-striped table-bordered" cellspacing="0" data-table="true" width="100%">

    <thead>
        <tr>
            <th>#</th>
            <th>File name</th>
            <th>File extension</th>
            <th>Tags</th>
        </tr>
    </thead>

    <tbody>

    </tbody>

</table>