<div id="modal-wrapper-button-{{ todo.id }} " class="modal-wrapper-button trash-parent ">
    <button class="trigger-custom btn cur-p btn-outline-primary todo-title" data-toggle="modal"
            data-target="#todo{{ todo.id }}">
        {{ todo.name }}
    </button>
    <section class="col-md-6 todo-buttons d-flex justify-content-around">

    </section>
</div>