{% if ajax_render == false %}
    {% set template= "base.html.twig" %}
{% else %}
    {% set template= "blank.html.twig" %}
{% endif %}

    {% extends template %}

{% block body %}
    <main class='main-content bgc-grey-100' id="myFilesListMainWrapper">

        <!-- ### Top menu bar for adding goals ### !-->
        {% if not is_main_dir %}
            <div class="masonry-item col-md-12 mB-10 my-files-list-masonry-is-not-main-dir">
                <div class="bgc-white p-10 bd">
                    <span>
                        {% include 'page-elements/components/widgets/remove-folder.twig' with {
                            'folder_path'           : subdirectory_path,
                            'upload_module_dir'     : upload_module_dir,
                            'files_count_in_tree'   : files_count_in_tree,
                            'popoverContent'        : 'files.popover.removeFolder' | trans
                        } %}
                    </span>
                </div>
            </div>
        {% endif %}

        <div id='mainContent'>
            <div class="container-fluid">
                {# DataTable#}

                <div class="row">
                    <div class="col-md-12">
                        <div class="bgc-white bd bdrs-3 p-20 mB-20 d-flex flex-column">
                            <h4 class="c-grey-900 mB-20 align-self-center">{{ 'files.label' | trans }}</h4>
                            {% include "page-elements/components/editable-module-content.twig" with {
                                id                : (module_data is not null ? module_data.getId() : null),
                                record_type       : constant('App\\Entity\\Modules\\ModuleData::RECORD_TYPE_DIRECTORY'),
                                module            : constant('App\\Controller\\Modules\\ModulesController::MODULE_NAME_FILES'),
                                record_identifier : upload_path,
                                description       : (module_data is not null ? module_data.getDescription() : "")
                            }%}
                            <div class="my-images-all-images d-flex justify-content-around flex-wrap">

                                {% include 'modules/my-files/components/files-list.html.twig' %}

                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="widgets-wrapper">
                {% include 'page-elements/components/widgets/plus-icon.twig' with {
                    'widgetName'     : "my-files-upload-widget",
                    'id'             : "my-files-upload-widget",
                    "popoverContent" : 'files.popover.addFiles' | trans
                } %}

                {% include 'page-elements/components/widgets/new-folder-icon.twig' with {
                    'widgetName'     : "new-folder-widget",
                    'id'             : "my-files-new-folder-widget",
                    'style'          : "margin-top: 10px; background-color: #0062cc; opacity: .5;",
                    "popoverContent" : 'files.popover.addFolder' | trans
                } %}

                {% include 'page-elements/components/upload-modules/settings.twig' with {
                    reloaded_menu_node         : constant("App\\Action\\System\\AppAction::MENU_NODE_MODULE_NAME_MY_FILES"),
                    popover_translation_string : "files.popover.settings"
                } %}
            </div>

        </div>
    </main>

{% endblock body %}
