{% if ajax_render == false %}
    {% set template= "base.html.twig" %}
{% else %}
    {% set template= "blank.html.twig" %}
{% endif %}

    {% extends template %}

{% block body %}
    <main class='main-content bgc-grey-100'>

        <!-- ### Top menu bar for adding goals ### !-->
        {% if not is_main_dir %}
            <div class="masonry-item col-md-12 mB-10" style="font-size: 19px;">
                <div class="bgc-white p-10 bd">
                    <span>
                        {% include 'page-elements/components/widgets/remove-folder.twig' with {
                            'folder_path'           : subdirectory_path,
                            'upload_module_dir'     : upload_module_dir,
                            'files_count_in_tree'   : files_count_in_tree
                        } %}
                    </span>
                </div>
            </div>
        {% endif %}

        <div id='mainContent'>
            <div class="container-fluid">
                {# DataTable#}

                <div class="row">
                    <div class="col-md-12">
                        <div class="bgc-white bd bdrs-3 p-20 mB-20 d-flex flex-column">
                            <h4 class="c-grey-900 mB-20 align-self-center">{{ 'files.label' | trans }}</h4>
                            <div class="my-images-all-images d-flex justify-content-around flex-wrap">

                                {% include 'modules/my-files/components/files-list.html.twig' %}

                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="widgets-wrapper">
                <script src="/assets_/static-scripts/upload-widget.js"></script>
                {% include 'page-elements/components/widgets/plus-icon.twig' with {
                    'widgetName': "upload-files-widget",
                    'settings':{
                        "type": 'template',
                        "url": path('dialog_body_upload'),
                        'callFunctions': '
                        ui.upload.init();
                        ui.forms.init();
                        uploadWidget.selectCurrentModuleAndUploadDirOptionForQuickUpload();

                        let mainContentInModal   = document.querySelector(".bootbox-body main.main-content");
                        mainContentInModal.style = "min-height:auto; padding: 10px;";
                    ',
                        'subtype':'form'
                    }
                } %}

                <script src="/assets_/static-scripts/new-folder-widget.js"></script>
                {% include 'page-elements/components/widgets/new-folder-icon.twig' with {
                    'widgetName': "new-folder-widget",
                    'settings':{
                        "type": 'template',
                        "url": path('dialog_body_create_folder'),
                        'callFunctions': '
                            ui.crud.attachRecordAddViaAjaxOnSubmit(false);  // dont reload mainBody
                            ui.upload.init();
                            ui.forms.init();
                            createFolderWidget.selectCurrentModuleAndUploadDirOptionForQuickCreateFolder();

                            let mainContentInModal   = document.querySelector(".bootbox-body main.main-content");
                            mainContentInModal.style = "min-height:auto; padding: 10px;";
                    ',
                        'subtype':'quickFolderCreation',
                        "data": {
                            "moduleName": constant(modules_controller~'MODULE_NAME_FILES')
                        }
                    },
                    'style': "margin-top: 10px; background-color: #0062cc; opacity: .5;"
                } %}
            </div>

        </div>
    </main>

{% endblock body %}
