{% if ajax_render == false %}
    {% set template= "base.html.twig" %}
{% else %}
    {% set template= "blank.html.twig" %}
{% endif %}

    {% extends template %}

{% block body %}

    <!-- ### $App Screen Content ### -->
    <main class='main-content bgc-grey-100' id="MyReportsMonthlyPaymentsSummariesModuleBody">
        <div id='mainContent'>
            <div class="container-fluid">

                {% include "modules/common/components/info-block.twig" with {
                    text_translation_string   : 'reports.historicalMoneyOwed.infoBlock.text.mainDescription',
                    header_translation_string : 'reports.historicalMoneyOwed.infoBlock.header'
                } %}

                <div class="row">
                    <div class="col-md-12">
                        <div class="bgc-white bd bdrs-3 p-20 mB-20">

                            <div data-smart-tab="true">
                                <ul class="nav">
                                    <li><a class="nav-link" href="#tab-1" id="tab-nav-1">
                                            {{ 'reports.historicalMoneyOwed.tabs.owedByMe' | trans }}
                                        </a></li>
                                    <li><a class="nav-link" href="#tab-2" id="tab-nav-2">
                                            {{ 'reports.historicalMoneyOwed.tabs.owedByOthers' | trans }}
                                        </a></li>
                                </ul>

                                <div class="tab-content">
                                    <div id="tab-1" class="tab-pane" role="tabpanel">
                                        <div class="bgc-white p-20 mB-20 d-flex flex-column col-12">
                                            {% include 'modules/my-reports/components/historical-money-owed-table.html.twig' with {
                                                data: historical_money_owed_by_me,
                                                tableId: "historicalMoneyOwedByMe"
                                            }%}
                                        </div>
                                    </div>
                                    <div id="tab-2" class="tab-pane" role="tabpanel">
                                        <div class="bgc-white p-20 mB-20 d-flex flex-column col-12">
                                            {% include 'modules/my-reports/components/historical-money-owed-table.html.twig' with {
                                                data: historical_money_owed_by_others,
                                                tableId: "historicalMoneyOwedByOthers"
                                            }%}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock body %}
