{% if ajax_render == false %}
    {% set template= "base.html.twig" %}
{% else %}
    {% set template= "blank.html.twig" %}
{% endif %}

    {% extends template %}

{% block body %}

    <!-- ### $App Screen Content ### -->
    <main class='main-content bgc-grey-100' id="MyReportsMonthlyPaymentsSummariesModuleBody">
        <div id='mainContent'>
            <div class="container-fluid">

                {% include "modules/common/components/info-block.twig" with {
                    text_translation_string   : 'reports.monthlyPaymentsSummaries.infoBlock.text.mainDescription',
                    header_translation_string : 'reports.monthlyPaymentsSummaries.infoBlock.header'
                } %}

                <div class="row">
                    <div class="col-md-12">
                        <div class="bgc-white bd bdrs-3 p-20 mB-20">
                                {% include 'modules/my-reports/components/monthly-payments-summaries-table.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock body %}
