{% if ajax_render == false %}
    {% set template= "base.html.twig" %}
{% else %}
    {% set template= "blank.html.twig" %}
{% endif %}

    {% extends template %}

{% block body %}

    <!-- ### $App Screen Content ### -->
    <main class='main-content bgc-grey-100' id="MyReportsMonthlyPaymentsSummariesModuleBody">
        <div id='mainContent'>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="bgc-white bd bdrs-3 p-20 mB-20">
                            <h4 class="c-grey-900 mB-20 text-center">{{ 'reports.headers.monthlyPaymentsSummaries' | trans }}</h4>
                            <p class="text-center">
                                {{ 'reports.monthlyPaymentsSummaries.information' | trans | raw }}
                            </p>

                                {% include 'modules/my-reports/components/monthly-payments-summaries-table.html.twig' %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock body %}
