{% if ajax_render == false %}
    {% set template= "base.html.twig" %}
{% else %}
    {% set template= "blank.html.twig" %}
{% endif %}

    {% extends template %}

{% block body %}

    <!-- ### $App Screen Content ### -->
    <main class='main-content bgc-grey-100' id="MyReportsMonthlyPaymentsSummariesModuleBody">
        <div id='mainContent'>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="bgc-white bd bdrs-3 p-20 mB-20">
                            <h4 class="c-grey-900 mB-20 text-center">{{ translate('reports.headers.paymentsCharts') }}</h4>
                            <p class="text-center">
                                {{ translate('reports.monthlyPaymentsSummaries.information') | raw }}
                            </p>

                                {{ chart_total_payments_amount_for_types | raw }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock body %}
