{% if ajax_render == false %}
    {% set template= "base.html.twig" %}
{% else %}
    {% set template= "blank.html.twig" %}
{% endif %}

    {% extends template %}

{% block body %}

    <!-- ### $App Screen Content ### -->
    <main class='main-content bgc-grey-100' id="MyReportsMonthlyPaymentsSummariesModuleBody">
        <div id='mainContent'>
            <div class="container-fluid">

                {% include "modules/common/components/info-block.twig" with {
                    text_translation_string   : 'reports.savingsCharts.infoBlock.text.mainDescription',
                    header_translation_string : 'reports.savingsCharts.infoBlock.header'
                } %}

                <div class="row">
                    <div class="col-md-12">

                        <div class="row">
                            <div class="bgc-white bd bdrs-3 p-20 mB-20 d-flex flex-column col-12">
                                {{ chart_savings_each_month|raw }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>

{% endblock body %}
