<div id="modal-wrapper-button-{{ goal_number }} " class="modal-wrapper-button trash-parent ">
    <button class="trigger-custom btn cur-p btn-outline-primary goal-title" data-toggle="modal"
            data-target="#goal{{ goal_number }}">
        {{ goal.name }}
    </button>
    <section class="col-md-6 goal-buttons d-flex justify-content-around">

    </section>
</div>