<div class="sidebar">
    <div class="sidebar-inner">
        <!-- ### $Sidebar Header ### -->
        {% include 'page-elements/components/sidebar/header.twig' %}
        <!-- ### $Sidebar Menu ### -->
        {% include 'page-elements/components/sidebar/menu.twig' %}
    </div>
</div>