{% set locked_resource    = 'App\\Entity\\System\\LockedResource::' %}
{% set modules_controller = 'App\\Controller\\Modules\\ModulesController::' %}

{% set MODULE_NAME_GOALS  = constant(modules_controller ~ 'MODULE_NAME_GOALS') %}
{% set LOCKED_TYPE_ENTITY = constant(locked_resource ~ 'TYPE_ENTITY') %}

{% if isAllowedToSeeResource("", LOCKED_TYPE_ENTITY, MODULE_NAME_GOALS) %}
    {% set curr_date =  date() %}

    <div class="masonry-item col-md-6">
        <div class="bd bgc-white p-20">
            <div class="layers">
                <div class="layer w-100 mB-10">
                    <h6 class="lh-1">{{  ('dashboard.widgets.' ~ widget_name ~ '.label')  | trans }}</h6>
                </div>
                <div class="layer w-100">
                    <div class="row">

                        {% for payment in goals_payments %}

                            <div class="col-md-6">

                                {% include 'modules/my-goals/calculations/one-payment.html.twig' with {
                                    'template': 'modules/my-goals/components/one-payment.html.twig',
                                    'col_size': 12
                                }%}

                            </div>

                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endif %}