{% set locked_resource    = 'App\\Entity\\System\\LockedResource::' %}
{% set modules_controller = 'App\\Controller\\Modules\\ModulesController::' %}

{% set MODULE_NAME_ISSUES = constant(modules_controller ~ 'MODULE_NAME_ISSUES') %}
{% set LOCKED_TYPE_ENTITY = constant(locked_resource ~ 'TYPE_ENTITY') %}

{% if isAllowedToSeeResource("", LOCKED_TYPE_ENTITY, MODULE_NAME_ISSUES) %}
    <div class="masonry-item col-md-6">
        <div class="bd bgc-white p-20">
            <div class="layers">
                <div class="layer w-100 mB-10">
                    <h6 class="lh-1">{{  ('dashboard.widgets.' ~ widget_name ~ '.label')  | trans }}</h6>
                </div>
                <div class="layer w-100 p-20">
                    <div class="row">
                        <section class="d-flex justify-content-between flex-wrap w-100">
                            {% for issue_card_dto in issues_cards_dtos %}
                                <div>
                                    {% include 'modules/my-issues/components/my-issue-card.twig' with {
                                        "issueCardDto"  : issue_card_dto,
                                        "maxNameLength" : 20,
                                        "isCompact"     : true,
                                        "isReadOnly"    : true
                                    } %}
                                </div>
                            {% endfor %}
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}