<option value="{{ choice.getId() }}" {% if selectedId is defined and choice.getId() == selectedId %}selected{% endif %}>
    {% set indent = '&nbsp;' %}

    {% if choice.getDepth() > 0 %}
        {% for x in range(1, choice.getDepth() )  %}
            {{ indent|raw }}
        {% endfor %}
    {% endif %}

    {{ choice.getName() }}
</option>

{# handle nested children #}
{% if choice.getChildren() is not empty %}
    {% for choice in choice.getChildren() %}
        {% include 'core/form-types/indentchoice/options-generator.twig' with {"choice": choice} %}
    {% endfor %}
{% endif %}