{% if style is not defined %}
    {% set style = "" %}
{% endif %}
<div class="widget {{ widgetName }}-widget call-widget-modal" id="{{ id }}" style="{{ style }}" data-widget="true"
        {% if popoverContent is defined and popoverContent is not empty %}
            data-toggle-popover="true"                                {# popover attr #}
            data-content="{{ popoverContent }}"                       {# popover attr #}
            data-placement="left"                                     {# popover attr #}
        {% endif %}
>
    <div class="fontawesome-centered">
        <i class="fa fa-folder-open new-folder-fontawesome-icon"></i>
    </div>
</div>
