{# Mechanism working with widets logic defined explicitly on js - without any global logic #}
{% if widgetName is not defined %}
    {% set widgetName = "" %}
{% endif %}

<div
        class="circle-plus {{ widgetName }}-widget  {% if widgetName != "" %} call-widget-modal {% endif %}"
        {% if popoverContent is defined and popoverContent is not empty %}
            data-toggle-popover="true"                                {# popover attr #}
            data-content="{{ popoverContent }}"                       {# popover attr #}
            data-placement="left"                                     {# popover attr #}
        {% endif %}
        {% if widgetName != "" %}
            id="{{ id }}"
            data-widget="true"
        {% else %}
            id="{{ id }}"
            data-call-dialog-on-click="true"
        {% endif %}
>
    <div class="circle">
        <div class="horizontal"></div>
        <div class="vertical"></div>
    </div>
</div>