<div class="circle-plus {{ widgetName }}-widget call-widget-modal" data-settings='{{ settings | json_encode | raw }}' data-widget="true">
    <div class="circle">
        <div class="horizontal"></div>
        <div class="vertical"></div>
    </div>
</div>