#MyIssuesPreview {
  padding-top: 20px;

  .small-header {
    font-size: 16px;
  }
}

#editCreateContactCardDialogWrapper {
  button.append-form {
    font-size: 13px;
  }
}

#firstLoginInformationDialog {
  font-size: 13px;
}

#newFolderDialogWrapper {
  min-height: auto;
  padding: 10px;
}

#systemLockDialog {
  min-height: auto;
  padding: 10px;
}