.form-input-currency {
  max-width: 65px;
}

.form-select-currency {
  max-width: 65px;
}

.form-date-time-picker-input {
  background-color: white !important;
  min-width: 160px;
}

.form-date-picker-input {
  max-width: 100px;
}

.form-rounded-checkbox-input {
  width: 30px;
}

.form-input-standard-value {
  max-width: 100px;
}

.removed-parent  button {
  font-size: 13px
}