#sidebarHeaderWrapper {
  .sidebar-header-logo-wrapper {
    width: 130px
  }
}

.menu-node-achievements-icon {
  color: rgb(255, 215, 0) !important;
}

.menu-node-goals-icon {
  color: rgb(178, 34, 34) !important;
}

.menu-node-my-contacts-icon {
  color: rgb(231, 116, 27) !important;
}

.menu-node-my-files-icon {
  color: rgb(255, 215, 0) !important;
}

.menu-node-my-images-icon {
  color: rgb(133, 187, 101) !important;
}

.menu-node-my-issues-icon {
  color: red !important;
}

.menu-node-my-password-icon {
  color: gold !important;
}

.menu-node-my-payments-icon {
  color: rgb(133, 187, 101) !important;
}

.menu-node-my-reports-icon {
  color: blue !important;
}

.menu-node-my-schedules-icon {
  color: black !important;
}

.menu-node-my-travels-icon {
  color: rgb(64, 164, 223) !important;
}

.menu-node-my-video-icon {
  color: rgb(176, 10, 10) !important;
}

.menu-node-my-video-settings-icon {
  color: rgb(133, 187, 101) !important;
}

.menu-node-my-video-notes-icon {
  color: violet !important;
}

.menu-node-todo-icon {
  color: purple !important;
}

.menu-node-upload-icon {
  color: orange !important;
}

.menu-node-shopping-icon {
  color: #72777a !important;
}

.menu-node-job-icon {
  color: #72777a !important;
}