input[type="radio"].square-checkbox {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background: lightgray;
  height: 16px;
  width: 16px;
  border: 1px solid white;
}

input[type="radio"].square-checkbox:checked {
  background: #aaaaaa;
}

input[type="checkbox"].square-checkbox:hover {
  filter: brightness(90%);
}

input[type="checkbox"].square-checkbox:disabled {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}

input[type="radio"].square-checkbox:after {
  content: '';
  position: relative;
  left: 40%;
  top: 20%;
  width: 15%;
  height: 40%;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  display: none;
}

input[type="radio"].square-checkbox:checked:after {
  display: block;
}

input[type="radio"].square-checkbox:disabled:after {
  border-color: #7b7b7b;
}