<select {{ block_widget_attributes | raw }} autocomplete="off" class="form-control" >

    {% if include_empty_choice %}
        <option value=""></option>
    {% endif %}

    {% for choice in parent_child_choices %}
        {% include 'page-elements/components/forms/option-with-indents-for-parent-children-dto.twig' with {"parentChildrenDto": choice} %}
    {% endfor %}

</select>