<td
        contenteditable="false"
        data-content-editable="false"
        {% if tableClasses is defined %}
        class="{{ tableClasses }}"
        {% endif %}
>
{% include 'modules/common/components/actions.twig' %}
</td>