/* Initial values */

#MyTravelsIdeas {
  * {
    font-family: 'Courgette', cursive;
    font-size: 20px;
  }
  tr {
    position: relative;
  }
}

.MyTravelIdeas div.accordin-section section {
  > div {
    height: 300px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  height: auto !important;
}

#MyTravelsIdeas {

  .actions {
    position: absolute;
    top: 0;
    right: -30px;
    display: flex;
    flex-direction: column-reverse;

    cursor: pointer;
    color: #72777a;
  }

  .actions span {
    align-self: center;
  }

  .country span {
    display: none;
    opacity: 0;
    position: relative;
    top: 75px;
    transition: linear 200ms;
  }
  .location span {
    display: none;
    opacity: 0;
    position: relative;
    top: 115px;
    transition: linear 200ms;
  }
  .category i {
    display: none;
    opacity: 0;
    position: relative;
    bottom: 90px;
    transition: linear 200ms;
  }
  .map {
    span {
      display: none;
      opacity: 0;
      font-size: 40px;
      position: relative;
      top: -85px;
      left: 25px;
    }
    b {
      position: relative;
      bottom: 7px;
    }
  }
  .action-buttons {
    z-index: 30;
  }
  .action-buttons-section {
    position: relative;
    bottom: 60px;
    display: none;
    opacity: 0;
  }
  td {
    &.map, &.country, &.location, &.category, &.action-buttons {
      height: 0px;
      display: inherit;
      padding: 0px;
      margin: 0px;
    }
  }
  tr {
    &:hover::before {
      background-color: rgba(255, 255, 255, 0.5);
      position: absolute;
      content: '';
      transition: linear 200ms;
    }
    &:before {
      background-color: rgba(255, 255, 255, 0);
      position: absolute;
      content: '';
      width: 400px;
      height: 100%;
      transition: linear 200ms;
    }
    &:hover > td {
      &.country span, &.location span, &.map span, &.category i, > section.action-buttons-section {
        display: inline;
        opacity: 1;
        transition: linear 200ms;
      }
    }
  }
}
