<table id="MyJobHolidaysPool" class="table table-striped table-bordered" cellspacing="0"
       data-table="true" width="100%">
    <thead>
    <tr>
        <td class="d-none">id</td>
        <td>Year</td>
        <td>Days</td>
        <td>Company name</td>
        <td>Actions</td>
    </tr>
    </thead>
    <tbody>

            {% for holiday_pool in all_holidays_pools %}
                <tr class="trash-parent car-single-data editable-parent save-parent" data-type="MyJobHolidaysPool">

                    <td class="d-none id">      {{ holiday_pool.id }}           </td>
                    <td class="year" data-order="{{ holiday_pool.year }}">
                        {% include 'page-elements/components/forms/input-standard-value.twig' with {
                            type     : "number",
                            value    : holiday_pool.year,
                            disabled : true,
                            min      : 1900,
                            attrs    : "data-validate-form-element=true"
                        }%}
                    </td>
                    <td class="daysInPool" data-order="{{ holiday_pool.daysInPool }}">
                        {% include 'page-elements/components/forms/input-standard-value.twig' with {
                            type     : "number",
                            value    : holiday_pool.daysInPool,
                            disabled : true,
                            min      : 1,
                            attrs    : "data-validate-form-element=true"
                        }%}
                    </td>
                    <td class="companyName">    {{ holiday_pool.CompanyName }}  </td>

                    {% include 'modules/common/components/table-cells/actions.html.twig' with {
                        "trash": true,
                        "edit": true,
                        "save": true
                    } %}

                </tr>
            {% endfor %}

    </tbody>
</table>
