<div class="contact-area">


    {# todo: Use constants from repositories.php #}
    <section class="contact-card-actions">
        <div class="action"
             data-entity-id="{{ issueCardDto.getIssue().getId() }}"
             data-repository-name="MyContactRepository"
             data-entity-modal-edit-action="true">
            <i class="far fa-pen-square"></i>
        </div>
        <div class="action"
             data-entity-id="{{ issueCardDto.issue().getId() }}"
             data-repository-name="MyContactRepository"
             data-entity-removal-action="true">
            <i class="far fa-times-circle"></i>
        </div>
    </section>

    <div class="contact contact-card-border contact-card-no-padding" style="width: 100%;">
        <main>
            <section>
                <div class="content" style="padding-bottom: 20px; ">
                    <aside style="padding-top:10px;">
                        <h1 style="font-size:18px;">test</h1>
                    </aside>
                </div>

                <div class="title active">
                    <p style="text-transform: none; font-size: 12px;">TEST</p>
                </div>
            </section>

        </main>

        <nav class="active contact-cards-contacts-wrapper">



        </nav>
    </div>
</div>