<li class="nav-item dropdown">
    <a class="sidebar-link" href="{{ path('integrations') }}">
                <span class="icon-holder" style="color:darkgray;">
                    <i class="fas fa-cog"></i>
                </span>
        <span class="title">Integrations</span>
    </a>
</li>
