<li class="nav-item dropdown">
    <a class="sidebar-link" href="javascript:void(0);">
                <span class="icon-holder" style="color:black;">
                    <i class="fas fa-car"></i>
                </span>
        <span class="title">My car</span>
        <span class="arrow">
                    <i class="ti-angle-right"></i>
                  </span>
    </a>

    <ul class="dropdown-menu">
        <li>
            <a class="sidebar-link" href="{{ path('my-car') }}">Schedules</a>
        </li>
        <li>
            <a class="sidebar-link" href="{{ path('my_car_settings') }}">Settings</a>
        </li>
    </ul>
    </a>
</li>
