<li class="nav-item dropdown {{ keepMenuOpen(currUrl, path('my-job-afterhours')) }}">
    <a class="sidebar-link" href="javascript:void(0);">
                <span class="icon-holder">
                    <i class="fas fa-desktop"></i>
                </span>
        <span class="title">My Job</span>
        <span class="arrow">
                    <i class="ti-angle-right"></i>
                  </span>
    </a>

    <ul class="dropdown-menu">
        <li>
            <a class="sidebar-link" href="{{ path('my-job-afterhours') }}">Afterhours</a>
        </li>
        <li>
            <a class="sidebar-link" href="{{ path('my-job-holidays') }}">Holidays</a>
        </li>
        <li>
            <a class="sidebar-link" href="{{ path('my-job-settings') }}">Settings</a>
        </li>
    </ul>
</li>