<li class="nav-item dropdown {{ keepMenuOpen(currUrl, '', 'my-passwords') }}">
    <a class="sidebar-link" href="javascript:void(0);">
                <span class="icon-holder" style="color: gold;">
                <i class="far fa-key"></i>
                </span>
        <span class="title">My Passwords</span>
        <span class="arrow">
                    <i class="ti-angle-right"></i>
                  </span>
    </a>

    <ul class="dropdown-menu">
        <li>
            <a class="sidebar-link" href="{{ path('my-passwords') }}">Passwords</a>
        </li>
        <li>
            <a class="sidebar-link" href="{{ path('my-passwords-settings') }}">Settings</a>
        </li>
    </ul>
</li>