<li class="nav-item dropdown {{ keepMenuOpen(currUrl, path('my-shopping-plans')) }}">
    <a class="sidebar-link" href="javascript:void(0);">
                <span class="icon-holder">
                        <i class="fas fa-shopping-cart"></i>
                </span>
        <span class="title">My shopping</span>
        <span class="arrow">
                    <i class="ti-angle-right"></i>
                  </span>
    </a>

    <ul class="dropdown-menu">
        <li>
            <a class="sidebar-link" href="{{ path('my-shopping-plans') }}">Plans</a>
        </li>
    </ul>
</li>
