<li class="nav-item dropdown {{ keepMenuOpen(currUrl, '', 'my-notes') }}">
    <a class="sidebar-link" href="javascript:void(0);">
                <span class="icon-holder" style="color:violet;">
                    <i class="fas fa-book"></i>
                </span>
        <span class="title">Tests</span>
        <span class="arrow">
                    <i class="ti-angle-right"></i>
                  </span>
    </a>

    {# Notes - 1st level #}
    <ul class="dropdown-menu">
        <li>
            <a class="sidebar-link" href="{{ path('upload_files') }}">
                <span class="icon-holder" style="color:violet;">
                    <i class="fas fa-plus-circle"></i>
                </span>
                Upload
            </a>
        </li>

    </ul>
</li>
