<li class="nav-item dropdown {{ keepMenuOpen(currUrl, '', 'upload') }}">

    <a class="sidebar-link" href="javascript:void(0);">
        <span class="icon-holder" style="color:orange;">
            <i class="fas fa-upload"></i>
        </span>

        <span class="title">Upload</span>
        <span class="arrow">
              <i class="ti-angle-right"></i>
        </span>
    </a>

    <ul class="dropdown-menu">

        <li>
            <a class="sidebar-link" href="{{ path('upload') }}">
                Add
            </a>
        </li>
        <li>
            <a class="sidebar-link" href="{{ path('upload_settings') }}">
                Manage
            </a>
        </li>

    </ul>

</li>
