<section class="global-messages">

    {% set flashMessagesTypes = ['danger', 'success'] %}

    {% for flashMessageType in flashMessagesTypes %}

        {% for message in app.flashes(flashMessageType) %}
            <div class="alert d-none" data-type="{{ flashMessageType }}">
                {{ message }}
            </div>
        {% endfor %}

    {% endfor %}

</section>

<script type="module">

    // prevent overwriting existing variable (js crashes)
    if( "object" === typeof window.messages )
    {
        delete window.messages;
    }

    window.messages = document.querySelectorAll('.global-messages .alert');

    // show message and remove it
    window.messages.forEach((element) => {
        let type    = element.getAttribute('data-type');
        let message = element.innerHTML;

        window.legacy_notify(message, type);
        element.parentNode.removeChild(element);
    });

</script>