{% if ajax_render == false %}
    {% set template= "base.html.twig" %}
{% else %}
    {% set template= "blank.html.twig" %}
{% endif %}

{% extends template %}

{% block body %}

    <main class='main-content bgc-grey-100'>
        <div id='mainContent'>

            <div class="container-fluid">

                {% include "modules/common/components/info-block.twig" with {
                    text_translation_string   : 'issues.infoBlock.text.mainDescription',
                    header_translation_string : 'issues.infoBlock.header'
                } %}

                <div class="row">
                    <div class="col-md-12">
                        <div class="bdrs-3 p-20 mB-20 d-flex flex-wrap justify-content-around">

                            {% for issueCardDto in issues_cards_dtos %}
                                {% include 'modules/my-issues/components/my-issue-card.twig' with { issueCardDto: issueCardDto } %}
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>

            <div class="widgets-wrapper">
                {% include 'page-elements/components/widgets/plus-icon.twig' with {
                    'widgetName'     : "pendingIssuesCreateIssue",
                    'id'             : "pendingIssuesCreateIssue",
                    'popoverContent' : 'issues.popover.createIssue' | trans
                } %}
            </div>

        </div>
    </main>

{% endblock body %}
