{% set my_files_controller = 'App\\Controller\\Modules\\Images\\MyImagesController' %}
{% set KEY_FILE_NAME        = constant(my_files_controller~"::KEY_FILE_NAME") %}
{% set KEY_FILE_FULL_PATH   = constant(my_files_controller~"::KEY_FILE_FULL_PATH") %}
{% set bytes_in_mb          = 1048576 %}


<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="bgc-white bd bdrs-3 p-20 mB-20 d-flex flex-column">
                <h4 class="c-grey-900 mB-20 align-self-center">Images</h4>
                <div class="my-images-all-images lightgallery">
                    <div class="my-gallery grid" data-masonry='{
                        "itemSelector": ".grid-item",
                        "columnWidth": 30
                    }'
                    >
                        <div id="aniimated-thumbnials" class="grid-item">
                            {% for image in images %}
                                <a href="/{{ image[KEY_FILE_FULL_PATH] }}">
                                    {#
                                        this is the only case when the leading "/" in twig tpl must be added
                                        because to display images from upload dir it needs to have "/"
                                    #}
                                    <img src="/{{ image[KEY_FILE_FULL_PATH] }}" alt="{{ image[KEY_FILE_NAME] }}" style="height:200px;"/>
                                </a>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
