<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <title>
        Installer
    </title>
    <link rel="stylesheet" href="/assets/app.css" />
    <link rel="stylesheet" href="/assets/base-template.css" />
    <link rel="stylesheet" href="/assets/installer.css" />
    <link rel="icon" href="logo.svg" sizes="any" type="image/svg+xml">

</head>

<body class="app">

<div>
    <div class="page-container pl-0">

        <div class="peers ai-s fxw-nw h-100vh" id="loginPageWrapper">
            <div class="d-n@sm- peer peer-greed h-100 pos-r bgr-n bgpX-c bgpY-c bgsz-cv"
                 style='background-image:  url("/assets/images/bcgk.jpg")'>
                <div class="col-12 col-md-10 col-lg-10 col-xl-10 pos-a centerXY peer bgc-white scrollable login-form-wrapper"
                     style="height: 60%;"
                >

                    <div id="installerApp">
                        <installer/>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

</body>

<footer>
    <script src="/assets/installer.js"></script>
</footer>
</html>