<div class="row w-100">
        <section class="datatable-mass-actions">

                {% if remove_files is defined and remove_files %}
                        <button class="btn btn-sm btn-primary datatable-remove-files disabled" data-target-table-selector="{{ data_target_table_selector }}">
                                {{ 'files.massActions.remove' | trans }}
                        </button>
                {% endif %}

                {% if copy_files is defined and copy_files %}
                        <button class="btn btn-sm btn-primary datatable-transfer-files disabled" data-target-table-selector="{{ data_target_table_selector }}">
                            {{ 'files.massActions.transferFiles' | trans }}
                        </button>
                {% endif %}

        </section>
</div>
