{% if ajax_render == false %}
    {% set template= "base.html.twig" %}
{% else %}
    {% set template= "blank.html.twig" %}
{% endif %}

    {% extends template %}

{% block body %}
    <!-- ### $App Screen Content ### -->
    <main class='main-content bgc-grey-100'>
        <div id='mainContent'>
            <div class="container-fluid">
                {% set products_types = ['non_rejected','rejected'] %}
                {# Datatables #}
                {% for product_type in products_types %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="bgc-white bd bdrs-3 p-20 mB-20">
                                <h4 class="c-grey-900 mB-20 text-center">{{ 'payments.productsPrices.headers.productPrices' | trans }}</h4>
                                {% include 'modules/my-payments/components/products.table.html.twig' with {type:product_type} %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {# Form #}
                <div class="row">
                    <div class="col-md-12">
                        <div class="bgc-white bd bdrs-3 p-20 mB-20 d-flex flex-column">
                            <h4 class="c-grey-900 mB-20 align-self-center">{{ 'payments.productsPrices.headers.addProduct' | trans }}</h4>
                            <div class="col-md-6 align-self-center add-record-form">
                                {{ form_start(products_form_view,{'attr':{' data-entity':"MyPaymentsProduct"}}) }}
                                {{ form_end(products_form_view) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock body %}
