<div class="settings-panel bd">
    <div class="settings-content">
        <div class="settings-title d-flex justify-content-between">

            <h4 class="text-white mb-0 d-inline-block">{{ 'jsSettings.header' | trans }}</h4>

            <span type="button" class="js-settings-close hoverable-pointer">
                <i class="fas fa-times"></i>
            </span>
        </div>

        <div class="settings-options">

            <div class="mb-3">
                <small class="d-block text-uppercase font-weight-bold text-muted mb-2">{{ 'jsSettings.options.colorScheme' | trans }}</small>
                <div class="d-flex justify-content-around">
                    <div class="form-check form-switch mb-1">
                        <input type="radio" class="form-check-input theme-color theme-color-dark square-checkbox bd" value="dark" checked>
                    </div>
                    <div class="form-check form-switch mb-1">
                        <input type="radio" class="form-check-input theme-color theme-color-light square-checkbox bd" value="light">
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>